<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorteos|SorteoTique</title>
</head>
    <p>¿Quieres conocer nuestros sorteos? <br>Cada uno se adapta a un sueño diferente<br></p>
<body>
    
    <p style="color: blueviolet;">Sorteo Gana Efectivo</p>
    <p style="color: blueviolet;">Sorteo iPremios</p>
    <p style="color: blueviolet;">Sorteo Aventura</p>
    <p style="color: blueviolet;">Sorteo Educativo</p>
    <p style="color: blueviolet;">Sorteo Mi futuro</p>
    <p>¿Qué estás esperando?</p>
</body>
</html>
