<div>
    {% extends "SorteoTique/inicio.html" %}
    {% load static %}
    
        {% block contenidoQueCambia %}
        <div class="card" style="width: 18rem;"> 
        <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone-14-pro-model-unselect-gallery-2-202209?wid=5120&hei=2880&fmt=p-jpg&qlt=80&.v=1660753617559" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">iPhone 14</h5>
            <p class="card-text" >Gana el último iphone.</p>
            <a href="#" class="btn btn-primary">Saber más</a>
        </div>
        </div>

        {% endblock %}
</div>