.navTextColor{
    color: darkorchid !important;
}

.contenido{
    margin-top: 50px !important;
    padding: 20px;
}

.componenteEntregables{
    background-color: thistle;
}

#tableClients tr th{
    padding-right: 120px;
}
#titleTbClients{
    background-color: rgb(109,146,195) !important;
    color: white;
    border-radius: 3px;
}